---
import { Models } from "@/config";

import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/text/HeadingBase";
import Image from "@/components/images/Image";
import Metadata from "@/components/sections/Metadata";
import Padding from "@/components/layout/Padding";
import Section from "@/components/layout/Section";

const imagesIsolated = [
	"https://cdn.cosmicjs.com/ad51ce60-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_08.png",
	"https://cdn.cosmicjs.com/ad19a760-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_01.png",
	"https://cdn.cosmicjs.com/ad594870-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_02.png",
	"https://cdn.cosmicjs.com/ad548d80-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_03.png",
	"https://cdn.cosmicjs.com/ad3d5c00-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_04.png",
	"https://cdn.cosmicjs.com/ad247cd0-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_05.png",
	"https://cdn.cosmicjs.com/ad44d610-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_06.png",
	"https://cdn.cosmicjs.com/ad37b6b0-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_07.png",
];
const imagesNormal = [
	"https://cdn.cosmicjs.com/e9114740-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_004.jpg",
	"https://cdn.cosmicjs.com/e8af9f40-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_001.jpg",
	"https://cdn.cosmicjs.com/e9140660-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_003.jpg",
	"https://cdn.cosmicjs.com/e90671d0-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_007.jpg",
	"https://cdn.cosmicjs.com/e8f9a090-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_005.jpg",
	"https://cdn.cosmicjs.com/e85aa170-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_002.jpg",
	"https://cdn.cosmicjs.com/e8d21b60-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_006.jpg",
	"https://cdn.cosmicjs.com/e90d2890-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_008.jpg",
];
---

<BaseLayout
	title="Atlas Broncos Builds | Gallery of Frame-Off Ford Bronco Restorations"
	description="View our completed Atlas Broncos builds — original frames, new Coyote 5.0 + 10-speed, stunning interiors, modern upgrades for vintage Ford Broncos."
>
	<Padding>
		<Section>
			<Container>
				<HeadingBase>
					<h1 class="text-white">The Broncos we restore are more than just vehicles—<span>they're pieces of American automotive history</span>.</h1>
				</HeadingBase>
			</Container>

			<div class="overflow-hidden">
				<Container>
					<Metadata />

					<div class="xl:max-w-[54.25rem] mx-auto lg:max-w-[48rem] max-w-[40rem]">
						<div class="embla !overflow-visible">
							<div class="embla__viewport">
								<div class="embla__container flex gap-8">
									{
										imagesNormal.map((i) => (
											<div class="embla__slide text-center basis-full sm:basis-sm md:basis-xl lg:basis-2xl grow-0 shrink-0 h-full">
												<Image src={i} rounded={true} pictureClass="w-full h-full" class="embla__slide__number w-full h-full object-cover" sizes="(min-width: 768px) 90vw, (min-width: 1280px) 1050px, 100vw" lazy={false} />
											</div>
										))
									}
								</div>
							</div>
						</div>

						<div class="embla__controls flex justify-between items-center mt-8">
							<div class="embla__buttons flex items-center gap-2">
								<button class="embla__button embla__button--prev group bg-stone-200 hover:bg-stone-50 transition-all flex items-center justify-center rounded-xl aspect-square h-auto w-8 hover:cursor-pointer">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
										<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
									</svg>
								</button>

								<button class="embla__button embla__button--next group bg-stone-200 hover:bg-stone-50 transition-all flex items-center justify-center rounded-xl aspect-square h-auto w-8 hover:cursor-pointer">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
										<path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</Container>
			</div>

			<Container>
				<div class="space-y-4">
					<h2>Available Models</h2>
					<div class="md:text-balance text-lg md:text-xl lg:text-2xl font-light leading-normal">
						Each Atlas Bronco is restored with precision and care, combining vintage aesthetics with modern technology for a driving experience unlike any other.
					</div>
				</div>

				<div class="lg:w-3/4 grid grid-cols-1 sm:grid-cols-2 gap-6 lg:gap-8 xl:gap-12 mt-16">
					{
						Models.map((m) => (
							<div class="relative space-y-5 group p-6 border border-stone-400/20 rounded-xl hover:bg-stone-50 transition-colors duration-300">
								<div class="h5">{m.title}</div>
								<div class="font-light leading-relaxed">{m.description}</div>
								<div>
									<div class="font-semibold flex gap-2">
										Get Started!
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ml-0 group-hover:ml-1 transform duration-300">
											<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
										</svg>
									</div>

									<a href="/contact" class="absolute inset-0" />
								</div>
							</div>
						))
					}
				</div>
			</Container>
		</Section>
	</Padding>
</BaseLayout>

<script>
	// swiper
	import EmblaCarousel from "embla-carousel";
	import { addPrevNextBtnsClickHandlers } from "@/assets/scripts/embla.js";

	const options = {
		loop: true,
		startIndex: 1,
	};

	const emblaNode = document.querySelector(".embla");
	const viewportNode = document.querySelector(".embla__viewport");
	const prevBtnNode = document.querySelector(".embla__button--prev");
	const nextBtnNode = document.querySelector(".embla__button--next");

	const emblaApi = EmblaCarousel(viewportNode, options);

	const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(emblaApi, prevBtnNode, nextBtnNode);

	emblaApi.on("destroy", removePrevNextBtnsClickHandlers);
</script>
