---
import BaseLayout from "@/layouts/BaseLayout";
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Image from "@/components/images/Image";
import Metadata from "@/components/sections/Metadata";
import Section from "@/components/layout/Section";

const items = [
	"https://cdn.cosmicjs.com/d0cbd3c0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6792.jpg",
	"https://cdn.cosmicjs.com/8aadef90-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_057.jpg",
	"https://cdn.cosmicjs.com/cdf952d0-4c7c-11f0-8d02-d7de9448d6b1-R5C_8151.jpg",
];
---

<BaseLayout marginTop={false} transparentHeader={false}>
	<div class="bg-white pb-48">
		<Section>
			<Image src="https://cdn.cosmicjs.com/f43eafd0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7768.jpg" gallery={false} pictureClass="h-[60vh] md:h-screen lg:h-[900px]" class="object-cover object-bottom w-full h-full" />

			<Container>
				<div class="md:-mt-80 sm:-mt-60 bg-white rounded-t-xl sm:p-12 relative xl:max-w-5xl text-balance">
					<h1 class="mb-4">At Atlas Broncos, we specialize in frame-off, Vintage Bronco restorations.</h1>
					<div class="text-lg md:text-xl lg:text-2xl font-light leading-relaxed md:leading-normal">
						Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and
						craftsmanship.
					</div>
				</div>
			</Container>

			<!-- <div>
			<Container>
				<Metadata />
			</Container>

			<Container fullWidth={true}>
				<div class="relative grid md:grid-cols-2 md:grid-rows-2 md:gap-6">
					<Image
						src="https://cdn.cosmicjs.com/a5a96fe0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_098.jpg"
						pictureClass="row-span-2"
						class="w-full h-full object-cover md:rounded-lg md:shadow-2xl"
						sizes="(min-width: 768px) 50vw, 100vw"
					/>
					<Image src="https://cdn.cosmicjs.com/d2e8fe80-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_146.jpg" class="w-full h-full object-cover md:rounded-lg md:shadow-2xl" sizes="(min-width: 768px) 100vw, 100vw" />
					<Image src="https://cdn.cosmicjs.com/c72d7440-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_133.jpg" class="w-full h-full object-cover md:rounded-lg md:shadow-2xl" sizes="(min-width: 768px) 50vw, 100vw" />
				</div>
			</Container>
		</div> -->

			<Image src="https://cdn.cosmicjs.com/cd8e8310-4c7c-11f0-8d02-d7de9448d6b1-R5C_6896.jpg" rounded={false} />

			<Container classes="space-y-10 lg:space-y-24">
				<div class="flex justify-end">
					<h2 class="text-balance max-w-3xl text-center lg:text-right">Where passion meets decades of experience</h2>
				</div>
			</Container>

			<Container>
				<div class="grid grid-cols-6 gap-12">
					<div class="space-y-6 col-span-6 lg:col-span-2 flex flex-col h-full justify-between">
						<div class="space-y-4">
							<h3>Why Choose Atlas Broncos?</h3>
							<div class="font-light space-y-4">
								<p>When you choose Atlas Broncos, you're not just getting a restored Bronco—you're getting a vehicle built with passion, expertise, and an uncompromising attention to detail.</p>
								<p>We take pride in every Bronco we restore, ensuring that it's not only visually stunning but also built to perform at the highest level, whether you're cruising on the highway or exploring rugged trails.</p>
							</div>
						</div>

						<ButtonLink>Contact Us</ButtonLink>
					</div>

					<div class="w-full h-full col-span-6 lg:col-span-4">
						<div class="grid grid-cols-6 gap-6 h-full">
							{
								items.map((i, n) => (
									<Image
										pictureClass={["h-full w-full lg:col-span-2", n == 0 ? "col-span-6" : "col-span-3"]}
										class="rounded-lg h-full w-full object-cover shadow-2xl"
										src={i}
										sizes={n == 0 ? "(min-width: 1024px) 350px, 100vw" : "(min-width: 1024px) 350px, 50vw"}
									/>
								))
							}
						</div>
					</div>
				</div>
			</Container>
		</Section>
	</div>
</BaseLayout>
