---
import BaseLayout from "@/layouts/BaseLayout";
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import Section from "@/components/layout/Section";

const items = [
	"https://cdn.cosmicjs.com/d0cbd3c0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6792.jpg",
	"https://cdn.cosmicjs.com/8aadef90-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_057.jpg",
	"https://cdn.cosmicjs.com/cdf952d0-4c7c-11f0-8d02-d7de9448d6b1-R5C_8151.jpg",
];

const images = [
	"https://cdn.cosmicjs.com/f48d4500-4c7c-11f0-8d02-d7de9448d6b1-R5C_7804.jpg",
	"https://cdn.cosmicjs.com/f4c93c90-4c7c-11f0-8d02-d7de9448d6b1-R5C_7873.jpg",
	"https://cdn.cosmicjs.com/bca10410-4c7c-11f0-8d02-d7de9448d6b1-R5C_6746.jpg",
	"https://cdn.cosmicjs.com/c8a2e620-4c7c-11f0-8d02-d7de9448d6b1-R5C_6932.jpg",
	"https://cdn.cosmicjs.com/c98d1f10-4c7c-11f0-8d02-d7de9448d6b1-R5C_6851.jpg",
	"https://cdn.cosmicjs.com/c21cd310-4c7c-11f0-8d02-d7de9448d6b1-R5C_8190.jpg",
];
---

<BaseLayout bgColor="bg-stone-800" marginTop={false} marginBottom={false} contactBg={false} transparentHeader={true}>
	<div class="relative flex h-[100vh] after:absolute after:inset-0 after:z-10 after:bg-gradient-to-b after:from-black/90 after:via-black/5 after:to-black/90">
		<Image src="https://cdn.cosmicjs.com/dfd32da0-4c7c-11f0-8d02-d7de9448d6b1-R5C_8137.jpg" gallery={false} sizes="100vw" pictureClass="absolute top-0 left-0 w-full h-full" class="w-full h-full object-cover object-top" />
	</div>

	<Container classes="-mt-140 relative z-10 flex flex-col">
		<h1 class="self-end text-right mb-10 text-white text-balance py-8 px-10 bg-black/40 w-4/7 rounded">We specialize in frame-off, Vintage Bronco restorations.</h1>

		<div class="grid grid-cols-3 md:grid-cols-6 gap-6 bg-stone-800 rounded-t px-10 pt-10 -mx-10">
			{images.map((i) => <Image src={i} pictureClass="shadow-2xl" class="object-cover w-full h-full aspect-square rounded" sizes="15vw" rounded={false} />)}
		</div>
	</Container>

	<div class="bg-stone-800">
		<Section>
			<Padding>
				<Container>
					<div class="xl:max-w-5xl text-balance">
						<h2 class="text-white text-balance max-w-3xl">Where passion meets decades of experience</h2>

						<div class="text-stone-100 text-lg md:text-xl lg:text-2xl font-light leading-relaxed md:leading-normal">
							Our team of experienced professionals brings over 80 years of combined expertise in restoring classic vehicles, and we are passionate about bringing these timeless off-road legends back to life with modern precision and
							craftsmanship.
						</div>
					</div>
				</Container>
			</Padding>

			<Container>
				<div class="grid grid-cols-6 gap-12">
					<div class="space-y-6 col-span-6 lg:col-span-2 flex flex-col h-full justify-between">
						<div class="space-y-4">
							<h3>Why Choose Atlas Broncos?</h3>
							<div class="font-light space-y-4">
								<p>When you choose Atlas Broncos, you're not just getting a restored Bronco—you're getting a vehicle built with passion, expertise, and an uncompromising attention to detail.</p>
								<p>We take pride in every Bronco we restore, ensuring that it's not only visually stunning but also built to perform at the highest level, whether you're cruising on the highway or exploring rugged trails.</p>
							</div>
						</div>

						<ButtonLink>Contact Us</ButtonLink>
					</div>

					<div class="w-full h-full col-span-6 lg:col-span-4">
						<div class="grid grid-cols-6 gap-6 h-full">
							{
								items.map((i, n) => (
									<Image
										pictureClass={["h-full w-full lg:col-span-2", n == 0 ? "col-span-6" : "col-span-3"]}
										class="rounded-lg h-full w-full object-cover shadow-2xl"
										src={i}
										sizes={n == 0 ? "(min-width: 1024px) 350px, 100vw" : "(min-width: 1024px) 350px, 50vw"}
									/>
								))
							}
						</div>
					</div>
				</div>
			</Container>
		</Section>
	</div>
</BaseLayout>
