---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";

const models = [
	{
		title: "Classic",
		description: "These are faithful restorations of original models, retaining the timeless look and feel of the early Broncos while upgrading essential components for safety and performance.",
	},
	{
		title: "Custom",
		description: "For those who want something unique, we offer custom builds tailored to individual specifications. Choose your engine, transmission, suspension, paint, and more.",
	},
];

const imagesIsolated = [
	"https://cdn.cosmicjs.com/ad51ce60-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_08.png",
	"https://cdn.cosmicjs.com/ad19a760-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_01.png",
	"https://cdn.cosmicjs.com/ad594870-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_02.png",
	"https://cdn.cosmicjs.com/ad548d80-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_03.png",
	"https://cdn.cosmicjs.com/ad3d5c00-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_04.png",
	"https://cdn.cosmicjs.com/ad247cd0-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_05.png",
	"https://cdn.cosmicjs.com/ad44d610-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_06.png",
	"https://cdn.cosmicjs.com/ad37b6b0-a12b-11ef-b5a0-93db72e2be98-bronco-isolated_07.png",
];
const imagesNormal = [
	"https://cdn.cosmicjs.com/e9114740-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_004.jpg",
	"https://cdn.cosmicjs.com/e8af9f40-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_001.jpg",
	"https://cdn.cosmicjs.com/e9140660-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_003.jpg",
	"https://cdn.cosmicjs.com/e90671d0-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_007.jpg",
	"https://cdn.cosmicjs.com/e8f9a090-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_005.jpg",
	"https://cdn.cosmicjs.com/e85aa170-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_002.jpg",
	"https://cdn.cosmicjs.com/e8d21b60-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_006.jpg",
	"https://cdn.cosmicjs.com/e90d2890-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_008.jpg",
];
---

<BaseLayout marginBottom={false}>
	<Section>
		<Container>
			<HeadingBase>
				<h1 class="mb-4">The Broncos we restore are more than just vehicles—they're pieces of American automotive history.</h1>
			</HeadingBase>
		</Container>

		<div class="overflow-hidden">
			<Container>
				<div class="flex justify-between mb-6 md:mb-4">
					<div>Classic #001</div>
					<div class="shrink-0 ml-6 text-sm font-light flex gap-3 items-center">
						<div>Sky Blue</div>
						<div class="text-grayray-400 text-sm">|</div>
						<div>5.0L Coyote</div>
						<div class="text-grayray-400 text-sm">|</div>
						<div>Diamond Leather</div>
					</div>
				</div>
		
				<div class="xl:max-w-[54.25rem] mx-auto lg:max-w-[48rem] max-w-[40rem]">
					<div class="swiper swiper-models !overflow-visible">
						<div class="swiper-wrapper">
							{
								imagesNormal.map((i) => (
									<div class="swiper-slide text-center">
										<div class="relative">
											<Image src={i} class="w-full rounded-lg shadow-2xl" />
										</div>
									</div>
								))
							}
						</div>
					</div>
		
					<div class="flex justify-center items-center mt-16">
						<div class="flex items-center gap-4">
							<button class="swiper-button-prev-custom group w-10 h-10 border border-g-75 rounded-full text-0 transition-colors hover:bg-g-500 hover:border-g-500">
								<svg class="inline-block fill-g-500 transition-colors group-hover:fill-w-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path
										d="M9.12 5.655l-5.657 5.657a1 1 0 0 0 0 1.414l5.657 5.657a1 1 0 0 0 1.402-.012 1 1 0 0 0 .012-1.402l-3.95-3.95h13.243a1 1 0 0 0 1-1 1 1 0 0 0-1-1H6.584l3.95-3.95a1 1 0 0 0 .305-.711 1 1 0 0 0-.293-.716 1 1 0 0 0-.716-.293 1 1 0 0 0-.711.305z"
									></path>
								</svg>
							</button>
		
							<div class="swiper-pag w-fit"></div>
		
							<button class="swiper-button-next-custom group w-10 h-10 border border-g-75 rounded-full text-0 transition-colors hover:bg-g-500 hover:border-g-500">
								<svg class="inline-block fill-g-500 transition-colors group-hover:fill-w-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path
										d="M14.877 18.359l5.657-5.657a1 1 0 0 0 0-1.414l-5.657-5.657a1 1 0 0 0-1.402.012 1 1 0 0 0-.012 1.402l3.95 3.95H4.17a1 1 0 0 0-1 1 1 1 0 0 0 1 1h13.243l-3.95 3.95a1 1 0 0 0-.305.711 1 1 0 0 0 .293.716 1 1 0 0 0 .716.293 1 1 0 0 0 .711-.305z"
									></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</Container>
		</div>

		<Container>
			<div class="space-y-4">
				<h2>Available Models</h2>
				<div class="text-balance text-2xl font-light leading-normal">Each Atlas Bronco is restored with precision and care, combining vintage aesthetics with modern technology for a driving experience unlike any other.</div>
			</div>

			<div class="w-3/4 grid grid-cols-2 gap-12 mt-16">
				{
					models.map((m) => (
						<div class="space-y-3 group p-6 border border-black/20 rounded">
							<h3 class="h4">{m.title}</h3>
							<div class="font-light leading-relaxed">{m.description}</div>
							<div>
								<a class="font-semibold flex gap-2">
									See {m.title} Builds
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ml-0 group-hover:ml-1 transform duration-300">
										<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
									</svg>
								</a>
							</div>
						</div>
					))
				}
			</div>
		</Container>

		<div>
			<Image class="h-[70vh] w-full object-cover" src="https://cdn.cosmicjs.com/c709e6b0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_137.jpg" sizes="100vw" />
		</div>
	</Section>
</BaseLayout>
