---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import Section from "@/components/layout/Section";

const images = [
	"https://cdn.cosmicjs.com/77d59080-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_026.jpg",
	"https://cdn.cosmicjs.com/98a64a70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_070.jpg",
	"https://cdn.cosmicjs.com/88e38fd0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_045.jpg",
	"https://cdn.cosmicjs.com/999676d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_064.jpg",
	"https://cdn.cosmicjs.com/9abe2df0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_076.jpg",
	"https://cdn.cosmicjs.com/8962d1f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_049.jpg",
];
const shop = [
	"https://cdn.cosmicjs.com/c1e6f600-4c7c-11f0-8d02-d7de9448d6b1-R5C_7463.jpg",
	"https://cdn.cosmicjs.com/d11b7a60-4c7c-11f0-8d02-d7de9448d6b1-R5C_7451.jpg",
	"https://cdn.cosmicjs.com/e7fc9070-4c7c-11f0-8d02-d7de9448d6b1-R5C_7361.jpg",
	"https://cdn.cosmicjs.com/e389f410-4c7c-11f0-8d02-d7de9448d6b1-R5C_7371.jpg",
	"https://cdn.cosmicjs.com/d30fa940-4c7c-11f0-8d02-d7de9448d6b1-R5C_7403.jpg",
	"https://cdn.cosmicjs.com/cd6724f0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6738.jpg",
];
const features = [
	{
		title: "Frame-Off Restoration",
		description: "We dismantle each Bronco down to its frame, inspecting every part and restoring it to factory standards or better.",
	},
	{
		title: "VIN and Model Year",
		description: "We retain the original VIN number and model year of each Bronco, making each vehicle a unique piece of automotive history.",
	},
	{
		title: "Modern Performance",
		description: "Each Bronco is upgraded with a new Ford Coyote 5.0 engine, offering exceptional power and reliability.",
	},
	{
		title: "Exhaust & Transmission",
		description: "Our Broncos feature custom dual exhaust systems paired with a new 10-speed transmission.",
	},
	{
		title: "Electrical & Wiring",
		description: "We install a factory-new wiring harness to ensure the electrical systems meet modern safety standards while retaining the classic Bronco feel.",
	},
	{
		title: "Suspension & Brakes",
		description: "We enhance ride quality and performance with Bilstein suspension and Hydra-boost brakes, ensuring smooth handling and reliable stopping power.",
	},
	{
		title: "Off-Road Ready",
		description: "Each Bronco features 33” tires and a 3” lift for superior off-road performance and an unmistakable stance.",
	},
	{
		title: "Custom Paint",
		description: "Our state-of-the-art in-house paint center allows us to offer custom paint jobs tailored to your vision, ensuring every Bronco has a stunning finish.",
	},
];
---

<BaseLayout bgColor="bg-stone-100" marginTop={false} marginBottom={false} contactBg={false}>
	<div class="relative after:absolute after:inset-0 after:z-10 after:bg-gradient-to-bl after:from-black/25 after:to-black/90 before:absolute before:inset-0 before:z-10 before:bg-radial-gradient before:opacity-40">
		<Image src="https://cdn.cosmicjs.com/62344d70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_009.jpg" gallery={false} sizes="100vw" pictureClass="absolute top-0 left-0 w-full h-full" class="w-full h-full object-cover" />

		<Container classes="relative z-30 flex items-end pb-24 min-h-screen md:min-h-[50rem]">
			<HeadingBase>
				<h1 class="text-white">At Atlas Broncos, we offer a complete frame-off restoration that leaves no detail untouched.</h1>
			</HeadingBase>
		</Container>
	</div>

	<div class="grid grid-cols-3 md:grid-cols-6 shadow-2xl">
		{images.map((i) => <Image src={i} class="object-cover w-full h-full aspect-square" sizes="20vw" rounded={false} />)}
	</div>

	<Padding classes="">
		<Container>
			<div class="grid lg:grid-cols-2 gap-12">
				<h2 class="text-stone-900 col-span-2">The Atlas Process</h2>
				<div class="space-y-6 md:space-y-8 w-9/10">
					<div class="space-y-6 text-stone-800">
						<hr class="text-stone-300" />
						<p class="text-xl lg:text-2xl font-light leading-relaxed md:leading-normal">Every vehicle is meticulously disassembled, inspected, and restored from the ground up to ensure every component meets our high standards.</p>
						<hr class="text-stone-300" />

						<p class="text-base font-light leading-relaxed">
							We specialize in retaining the original VIN and model year, preserving the integrity and history of each Bronco—something that is becoming increasingly rare in today's market.
						</p>
						<p class="text-base font-light leading-relaxed">
							Our process incorporates modern enhancements that give these classic Broncos new life while retaining their vintage charm. From installing the powerful Ford Coyote 5.0 engine to customizing exhaust systems and upgrading
							the suspension, we ensure every Bronco we restore performs as beautifully as it looks.
						</p>
					</div>
				</div>

				<div class="space-y-6">
					<div class="grid sm:grid-cols-2 gap-6">
						{
							features.map((f) => (
								<div class="gap-1 flex flex-col">
									<div class="text-base font-medium flex gap-x-1 items-center text-stone-600">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 mt-1">
											<path
												fill-rule="evenodd"
												d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
												clip-rule="evenodd"
											/>
										</svg>

										{f.title}
									</div>
									<div class="text-sm font-light text-balance text-stone-300 max-w-7/8">{f.description}</div>
								</div>
							))
						}
					</div>
				</div>
			</div>
		</Container>
	</Padding>

	<div class="grid grid-cols-3">
		{shop.map((i) => <Image src={i} class="object-cover w-full h-full aspect-square" sizes="33vw" rounded={false} />)}
	</div>
</BaseLayout>
