---
import BaseLayout from "@/layouts/BaseLayout";
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import HorizontalRule from "@/components/sections/HorizontalRule";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import Paragraph from "@/components/sections/text/Paragraph";
import SmallFeature from "@/components/sections/SmallFeature";

const images = [
	"https://cdn.cosmicjs.com/77d59080-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_026.jpg",
	"https://cdn.cosmicjs.com/98a64a70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_070.jpg",
	"https://cdn.cosmicjs.com/88e38fd0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_045.jpg",
	"https://cdn.cosmicjs.com/999676d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_064.jpg",
	"https://cdn.cosmicjs.com/9abe2df0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_076.jpg",
	"https://cdn.cosmicjs.com/8962d1f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_049.jpg",
];
const shop = [
	"https://cdn.cosmicjs.com/c1e6f600-4c7c-11f0-8d02-d7de9448d6b1-R5C_7463.jpg",
	"https://cdn.cosmicjs.com/d11b7a60-4c7c-11f0-8d02-d7de9448d6b1-R5C_7451.jpg",
	"https://cdn.cosmicjs.com/e7fc9070-4c7c-11f0-8d02-d7de9448d6b1-R5C_7361.jpg",
	"https://cdn.cosmicjs.com/e389f410-4c7c-11f0-8d02-d7de9448d6b1-R5C_7371.jpg",
	"https://cdn.cosmicjs.com/d30fa940-4c7c-11f0-8d02-d7de9448d6b1-R5C_7403.jpg",
	"https://cdn.cosmicjs.com/cd6724f0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6738.jpg",
];
const features = [
	{
		title: "Frame-Off Restoration",
		description: "We dismantle each Bronco down to its frame, inspecting every part and restoring it to factory standards or better.",
	},
	{
		title: "VIN and Model Year",
		description: "We retain the original VIN number and model year of each Bronco, making each vehicle a unique piece of automotive history.",
	},
	{
		title: "Modern Performance",
		description: "Each Bronco is upgraded with a new Ford Coyote 5.0 engine, offering exceptional power and reliability.",
	},
	{
		title: "Exhaust & Transmission",
		description: "Our Broncos feature custom dual exhaust systems paired with a new 10-speed transmission.",
	},
	{
		title: "Electrical & Wiring",
		description: "We install a factory-new wiring harness to ensure the electrical systems meet modern safety standards while retaining the classic Bronco feel.",
	},
	{
		title: "Suspension & Brakes",
		description: "We enhance ride quality and performance with Bilstein suspension and Hydra-boost brakes, ensuring smooth handling and reliable stopping power.",
	},
	{
		title: "Off-Road Ready",
		description: "Each Bronco features 33” tires and a 3” lift for superior off-road performance and an unmistakable stance.",
	},
	{
		title: "Custom Paint",
		description: "Our state-of-the-art in-house paint center allows us to offer custom paint jobs tailored to your vision, ensuring every Bronco has a stunning finish.",
	},
];
---

<BaseLayout bgColor="bg-stone-100" marginTop={false} marginBottom={false} contactBg={false}>
	<Container classes="relative z-10">
		<div class="grid grid-cols-12 gap-4 md:gap-6">
			<Image src="https://cdn.cosmicjs.com/dfd32da0-4c7c-11f0-8d02-d7de9448d6b1-R5C_8137.jpg" sizes="100vw" pictureClass="col-span-6" class="w-full h-full object-cover" />
			<Image src="https://cdn.cosmicjs.com/c4806590-4c7c-11f0-8d02-d7de9448d6b1-R5C_6944.jpg" sizes="100vw" pictureClass="col-span-6" class="w-full h-full object-cover" />
			{images.map((i) => <Image src={i} pictureClass="shadow-2xl col-span-6 sm:col-span-4 lg:col-span-2" class="object-cover w-full h-full aspect-square" sizes="20vw" />)}
		</div>
	</Container>

	<Padding>
		<Container>
			<div class="z-10 grid lg:grid-cols-2 gap-x-12">
				<h1 class="col-span-2 md:w-3/4 md:text-balance mb-8 lg:mb-12">At Atlas Broncos, we offer a complete frame-off restoration that leaves no detail untouched.</h1>

				<div class="col-span-2 lg:col-span-1">
					<div class="space-y-6 text-stone-800 md:w-3/4 lg:w-full">
						<h2 class="h3 mb-8">The Atlas Process</h2>
						<p class="text-xl lg:text-2xl font-light leading-relaxed md:leading-normal">Every vehicle is meticulously disassembled, inspected, and restored from the ground up to ensure every component meets our high standards.</p>

						<Paragraph>We specialize in retaining the original VIN and model year, preserving the integrity and history of each Bronco—something that is becoming increasingly rare in today's market.</Paragraph>
						<Paragraph>
							Our process incorporates modern enhancements that give these classic Broncos new life while retaining their vintage charm. From installing the powerful Ford Coyote 5.0 engine to customizing exhaust systems and upgrading
							the suspension, we ensure every Bronco we restore performs as beautifully as it looks.
						</Paragraph>
					</div>
				</div>

				<div class="col-span-2 lg:col-span-1 space-y-6 mt-20">
					<div class="grid sm:grid-cols-2 gap-6">
						{
							features.map((f) => (
								<SmallFeature>
									<div slot="heading">{f.title}</div>
									<div slot="description">{f.description}</div>
								</SmallFeature>
							))
						}
					</div>
				</div>

				<div class="flex justify-center col-span-2 mt-20">
					<ButtonLink>Get Started!</ButtonLink>
				</div>
			</div>
		</Container>
	</Padding>

	<div class="grid grid-cols-6 gap-6 md:gap-10 mb-10 mx-6 lg:mx-10">
		{shop.map((i) => <Image src={i} pictureClass="col-span-3 sm:col-span-2" class="object-cover w-full h-full aspect-square" sizes="33vw" />)}
	</div>
</BaseLayout>
