---
import { Process, Specifications } from "@/config";

import BaseLayout from "@/layouts/BaseLayout";
import ButtonLink from "@/components/buttons/ButtonLink";
import Container from "@/components/layout/Container";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import Paragraph from "@/components/sections/text/Paragraph";
import Section from "@/components/layout/Section";
import SmallFeature from "@/components/sections/feature/SmallFeature";

const images = [
	"https://cdn.cosmicjs.com/77d59080-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_026.jpg",
	"https://cdn.cosmicjs.com/88e38fd0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_045.jpg",
	"https://cdn.cosmicjs.com/999676d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_064.jpg",
	"https://cdn.cosmicjs.com/8962d1f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_049.jpg",
];
const shop = ["https://cdn.cosmicjs.com/e8f9a090-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_005.jpg", "https://cdn.cosmicjs.com/e9140660-cdf5-11ef-bee4-3bb1d3c55332-blue-bronco-carousel-original_003.jpg"];
// const shop = [
// 	"https://cdn.cosmicjs.com/c1e6f600-4c7c-11f0-8d02-d7de9448d6b1-R5C_7463.jpg",
// 	"https://cdn.cosmicjs.com/d11b7a60-4c7c-11f0-8d02-d7de9448d6b1-R5C_7451.jpg",
// 	"https://cdn.cosmicjs.com/e7fc9070-4c7c-11f0-8d02-d7de9448d6b1-R5C_7361.jpg",
// 	"https://cdn.cosmicjs.com/e389f410-4c7c-11f0-8d02-d7de9448d6b1-R5C_7371.jpg",
// 	"https://cdn.cosmicjs.com/d30fa940-4c7c-11f0-8d02-d7de9448d6b1-R5C_7403.jpg",
// 	"https://cdn.cosmicjs.com/cd6724f0-4c7c-11f0-8d02-d7de9448d6b1-R5C_6738.jpg",
// ];
---

<BaseLayout title="Atlas Broncos Process | Frame-Off Restoration of Ford Broncos" description="Discover our frame-off process: preserving original body & frame, installing new Coyote 5.0 + 10-speed, plus full interior & performance upgrades.">
	<Padding>
		<Section>
			<Container>
				<h1 class="col-span-2 md:w-3/4 md:text-balance mb-8 lg:mb-12">At Atlas Broncos, we offer a <span>complete frame-off restoration</span> that leaves no detail untouched.</h1>
			</Container>

			<Container classes="relative z-10">
				<div class="grid grid-cols-12 gap-4 md:gap-6">
					<Image src="https://cdn.cosmicjs.com/9abe2df0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_076.jpg" sizes="40vw" pictureClass="col-span-6" class="w-full h-full object-cover" />
					<Image src="https://cdn.cosmicjs.com/98a64a70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_070.jpg" sizes="40vw" pictureClass="col-span-6" class="w-full h-full object-cover" />
					{images.map((i) => <Image src={i} pictureClass="shadow-2xl col-span-6 sm:col-span-3" class="object-cover w-full h-full sm:aspect-square" sizes="(min-width:640px) 25vw, 40vw" />)}
				</div>
			</Container>

			<Container>
				<div class="z-10 grid lg:grid-cols-2 gap-x-12">
					<div class="col-span-2 lg:col-span-1">
						<div class="space-y-6 text-stone-800 md:w-3/4 lg:w-full">
							<h2 class="h3 mb-8">The Atlas Process</h2>
							<p class="text-xl lg:text-2xl font-light leading-relaxed md:leading-normal">Every vehicle is meticulously disassembled, inspected, and restored from the ground up to ensure every component meets our high standards.</p>

							<Paragraph>We specialize in retaining the original VIN and model year, preserving the integrity and history of each Bronco—something that is becoming increasingly rare in today's market.</Paragraph>
							<Paragraph>
								Our process incorporates modern enhancements that give these classic Broncos new life while retaining their vintage charm. From installing the powerful Ford Coyote 5.0 engine to customizing exhaust systems and
								upgrading the suspension, we ensure every Bronco we restore performs as beautifully as it looks.
							</Paragraph>
						</div>
					</div>

					<div class="col-span-2 lg:col-span-1 space-y-6 mt-20">
						<div class="grid sm:grid-cols-2 gap-6">
							{
								Process.map((f) => (
									<SmallFeature>
										<div slot="heading">{f.title}</div>
										<div slot="description">{f.description}</div>
									</SmallFeature>
								))
							}
						</div>
					</div>

					<div class="flex justify-center col-span-2 mt-20">
						<ButtonLink href="/contact">Get Started!</ButtonLink>
					</div>
				</div>
			</Container>

			<Container>
				<div class="z-10 grid grid-cols-4 gap-12">
					<div class="col-span-4 lg:col-span-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4 md:gap-6 h-fit">
						{shop.map((i) => <Image src={i} class="object-cover w-full h-full" sizes="(min-width:768px) 50vw, 90vw" />)}
					</div>

					<div class="col-span-4 lg:col-span-2 space-y-8">
						<div class="space-y-8">
							<h3>Build Specifications</h3>
							<p class="text-xl lg:text-2xl font-light leading-relaxed md:leading-normal">
								Each Atlas Bronco is restored with precision and care, combining vintage aesthetics with modern technology for a driving experience unlike any other.
							</p>
							<div class="uppercase font-black text-lg">Standard Equipment</div>
							<Paragraph>
								While the original frame and tub are carefully refurbished and upgraded to modern standards, every other component installed on our builds is brand new. This commitment ensures that our restorations combine the
								timeless appeal of the classic Bronco with the reliability, performance, and safety of a modern vehicle.
							</Paragraph>
						</div>

						<div class="rounded-lg" x-data="{ expanded: 0 }">
							{
								Specifications.map((s, i) => (
									<div class="relative overflow-x-auto first:rounded-t-lg last:rounded-b-lg">
										<table class="w-full text-sm text-left text-gray-500">
											<caption class="text-lg font-semibold text-left text-gray-900 bg-stone-200 border-b last:border-0 border-stone-300">
												<button type="button" class="p-5 w-full flex justify-between cursor-pointer" x-on:click={`expanded === ${i} ? expanded = null : expanded = ${i}`}>
													<div>{s.title}</div>
													<div>+</div>
												</button>
											</caption>

											<tbody
												class="block relative overflow-hidden max-h-0 transition-all duration-500"
												style=""
												x-ref={`container${i}`}
												x-bind:style={`expanded == ${i} ? 'max-height: ' + $refs.container${i}.scrollHeight + 'px' : ''`}
											>
												{s.items.map((i) => (
													<tr class="bg-white border-stone-200 table w-full border-b last:border-0">
														<th scope="row" class="min-w-1/3 w-1/3 px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
															{i.title}
														</th>
														<td class="px-6 py-4"> {i.description} </td>
													</tr>
												))}
											</tbody>
										</table>
									</div>
								))
							}
						</div>

						<div>* Denotes parts that can be customized to your liking! <a href="/contact" class="underline">Let's connect</a> and configure your perfect Bronco!</div>
					</div>
				</div>
			</Container>
		</Section>
	</Padding>
</BaseLayout>
