---
import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HeadingBase from "@/components/sections/HeadingBase";
import Image from "@/components/images/Image";
import Section from "@/components/layout/Section";

const images = [
	"https://cdn.cosmicjs.com/77d59080-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_026.jpg",
	"https://cdn.cosmicjs.com/98a64a70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_070.jpg",
	"https://cdn.cosmicjs.com/88e38fd0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_045.jpg",
	"https://cdn.cosmicjs.com/999676d0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_064.jpg",
	"https://cdn.cosmicjs.com/9abe2df0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_076.jpg",
	"https://cdn.cosmicjs.com/8962d1f0-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_049.jpg",
];

const features = [
	{
		title: "Frame-Off Restoration",
		description: "We dismantle each Bronco down to its frame, inspecting every part and restoring it to factory standards or better.",
	},
	{
		title: "VIN and Model Year",
		description: "We retain the original VIN number and model year of each Bronco, making each vehicle a unique piece of automotive history.",
	},
	{
		title: "Modern Performance",
		description: "Each Bronco is upgraded with a new Ford Coyote 5.0 engine, offering exceptional power and reliability.",
	},
	{
		title: "Exhaust & Transmission",
		description: "Our Broncos feature custom dual exhaust systems paired with a new 10-speed transmission.",
	},
	{
		title: "Electrical & Wiring",
		description: "We install a factory-new wiring harness to ensure the electrical systems meet modern safety standards while retaining the classic Bronco feel.",
	},
	{
		title: "Suspension & Brakes",
		description: "We enhance ride quality and performance with Bilstein suspension and Hydra-boost brakes, ensuring smooth handling and reliable stopping power.",
	},
	{
		title: "Off-Road Ready",
		description: "Each Bronco features 33” tires and a 3” lift for superior off-road performance and an unmistakable stance.",
	},
	{
		title: "Custom Paint",
		description: "Our state-of-the-art in-house paint center allows us to offer custom paint jobs tailored to your vision, ensuring every Bronco has a stunning finish.",
	},
];
---

<BaseLayout transparentHeader={true} marginTop={false}>
	<div class="relative after:absolute after:inset-0 after:z-10 after:bg-gradient-to-bl after:from-black/25 after:to-black/90 before:absolute before:inset-0 before:z-10 before:bg-radial-gradient before:opacity-40">
		<Image src="https://cdn.cosmicjs.com/62344d70-97be-11ef-b5a0-93db72e2be98-2024-10-02-studio-blue-bronco_009.jpg" gallery={false} sizes="100vw" pictureClass="absolute top-0 left-0 w-full h-full" class="w-full h-full object-cover" />

		<Container classes="relative z-30 flex items-end pb-24 min-h-screen md:min-h-[50rem]">
			<HeadingBase>
				<h1 class="text-white">At Atlas Broncos, we offer a complete frame-off restoration that leaves no detail untouched.</h1>
			</HeadingBase>
		</Container>
	</div>

	<Section>
		<div class="grid grid-cols-3 md:grid-cols-6 shadow-2xl">
			{images.map((i) => <Image src={i} class="object-cover w-full h-full aspect-square" sizes="20vw" />)}
		</div>

		<Container>
			<div class="space-y-6 md:space-y-12">
				<h2>The Atlas Process</h2>

				<div class="space-y-6 lg:w-3/4">
					<p class="text-base md:text-xl font-light leading-relaxed md:leading-normal">
						Every vehicle is meticulously disassembled, inspected, and restored from the ground up to ensure every component meets our high standards. We specialize in retaining the original VIN and model year, preserving the integrity
						and history of each Bronco—something that is becoming increasingly rare in today's market.
					</p>
					<p class="text-base md:text-xl font-light leading-relaxed md:leading-normal">
						Our process incorporates modern enhancements that give these classic Broncos new life while retaining their vintage charm. From installing the powerful Ford Coyote 5.0 engine to customizing exhaust systems and upgrading the
						suspension, we ensure every Bronco we restore performs as beautifully as it looks.
					</p>
				</div>
			</div>

			<div class="mt-16 space-y-6 md:space-y-12 @container">
				<h3>Each Restoration Includes</h3>

				<div class="grid sm:grid-cols-2 xl:grid-cols-4 gap-14 xl:gap-10 w-full @sm:w-3/4 sm:w-full lg:w-3/4 xl:w-full">
					{
						features.map((f) => (
							<div class="gap-3 flex flex-col">
								<div class="text-lg font-medium flex gap-2 items-start">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 mt-1">
										<path
											fill-rule="evenodd"
											d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
											clip-rule="evenodd"
										/>
									</svg>

									{f.title}
								</div>
								<div class="text-sm font-light text-balance">{f.description}</div>
							</div>
						))
					}
				</div>
			</div>
		</Container>
	</Section>
</BaseLayout>
