---
import { Team, Timeline } from "@/config";

import BaseLayout from "@/layouts/BaseLayout";
import Container from "@/components/layout/Container";
import HorizontalRule from "@/components/sections/HorizontalRule";
import Image from "@/components/images/Image";
import Padding from "@/components/layout/Padding";
import Paragraph from "@/components/sections/text/Paragraph";
import Section from "@/components/layout/Section";
import HeadingBase from "@/components/sections/text/HeadingBase";
import LargeFeature from "@/components/sections/feature/LargeFeature";
---

<BaseLayout title="Atlas Broncos Team | Expert Craftsmen Behind Your Bronco" description="Meet the skilled artisans at Atlas Broncos—experts in frame-off restoration, drivetrain installation, premium interior builds, and precision craftsmanship.">
	<Padding>
		<Section>
			<Container>
				<HeadingBase>
					<h1 class="text-white md:w-3/4 text-balanced">With decades of experience, we've built and restored thousands of vehicles.</h1>
				</HeadingBase>
			</Container>

			<div class="overflow-hidden">
				<Container>
					<div class="mx-auto">
						<div class="embla !overflow-visible">
							<div class="embla__viewport">
								<div class="embla__container flex gap-8">
									{
										Team.map((i) => (
											<div class="embla__slide text-center basis-xs sm:basis-sm md:basis-md grow-0 shrink-0 h-full">
												<Image src={i.url} pictureClass="w-full h-full" class="embla__slide__number w-full h-full object-cover" rounded={true} sizes="(min-width: 768px) 90vw, (min-width: 1280px) 1050px, 100vw" lazy={false} />
												<div class="flex flex-col mt-2">
													<div class="font-semibold text-sm">{i.name}</div>
													<div class=" text-sm">{i.position}</div>
												</div>
											</div>
										))
									}
								</div>
							</div>
						</div>

						<div class="embla__controls flex justify-center items-center mt-8">
							<div class="embla__buttons flex items-center gap-2">
								<button class="embla__button embla__button--prev group bg-stone-200 hover:bg-stone-50 transition-all flex items-center justify-center rounded-xl aspect-square h-auto w-8 hover:cursor-pointer">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="embla__button__svg size-5">
										<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
									</svg>
								</button>

								<button class="embla__button embla__button--next group bg-stone-200 hover:bg-stone-50 transition-all flex items-center justify-center rounded-xl aspect-square h-auto w-8 hover:cursor-pointer">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="embla__button__svg size-5">
										<path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</Container>
			</div>

			<Container>
				<div>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-12">
						<h3 class="sm:text-balance">Originally, our focus was on Ford retractables, and our team has <span>won numerous awards</span> for excellence in this area.</h3>

						<div class="space-y-8">
							<Paragraph classes="text-stone-900 text-lg md:text-xl">
								In 2020, we decided to channel our skills and passion into restoring Vintage Broncos, giving these classics the attention they deserve. Every restoration is a labor of love, and our reputation for quality has followed
								us into this new chapter of our business.
							</Paragraph>
						</div>
					</div>
				</div>

				<div class="mt-32 space-y-12">
					<HorizontalRule />

					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12">
						{
							Timeline.map((t) => (
								<LargeFeature>
									<div slot="heading">{t.title}</div>
									<div slot="description">{t.content}</div>
								</LargeFeature>
							))
						}
					</div>

					<HorizontalRule />
				</div>
			</Container>
		</Section>
	</Padding>
</BaseLayout>

<script>
	// swiper
	import EmblaCarousel from "embla-carousel";
	import { addPrevNextBtnsClickHandlers } from "@/assets/scripts/embla.js";

	const options = {
		loop: false,
		startIndex: 0,
	};

	const emblaNode = document.querySelector(".embla");
	const viewportNode = document.querySelector(".embla__viewport");
	const prevBtnNode = document.querySelector(".embla__button--prev");
	const nextBtnNode = document.querySelector(".embla__button--next");

	const emblaApi = EmblaCarousel(viewportNode, options);

	const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(emblaApi, prevBtnNode, nextBtnNode);

	emblaApi.on("destroy", removePrevNextBtnsClickHandlers);
</script>
