---
import BaseLayout from "@/layouts/BaseLayout";
import Button from "@/components/buttons/Button";
import Container from "@/components/layout/Container";
import HorizontalRule from "@/components/sections/HorizontalRule";
import Image from "@/components/images/Image";
import LargeHeading from "@/components/sections/text/LargeHeading";
import Padding from "@/components/layout/Padding";
import Paragraph from "@/components/sections/text/Paragraph";
import Section from "@/components/layout/Section";
import HeadingBase from "@/components/sections/HeadingBase";
import LargeFeature from "@/components/sections/LargeFeature";

const ceo = "https://cdn.cosmicjs.com/d3693af0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7278.jpg";
const images = [
	{
		url: "https://cdn.cosmicjs.com/d304d3d0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7327.jpg",
		position: "object-[50%_20%]",
	},
	{
		url: "https://cdn.cosmicjs.com/d23f39e0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7268.jpg",
		position: "",
	},
	{
		url: "https://cdn.cosmicjs.com/f0874d20-4c7c-11f0-8d02-d7de9448d6b1-R5C_7392.jpg",
		position: "",
	},
	{
		url: "https://cdn.cosmicjs.com/f169e4f0-4c7c-11f0-8d02-d7de9448d6b1-R5C_7317.jpg",
		position: "",
	},
];
const team = [
	{
		title: "Experience",
		content: "Our team collectively boasts over 180 years of experience in automotive restoration excellence.",
	},
	{
		title: "Heritage",
		content: "Having restored thousands of classic vehicles, we are proud of our rich history in the industry.",
	},
	{
		title: "Awards",
		content: "We've been recognized for our work on Ford retractables, earning several prestigious awards.",
	},
	{
		title: "Transition",
		content: "In 2020, we shifted our focus to Vintage Broncos, bringing our passion and expertise to the restoration of these iconic vehicles.",
	},
];
---

<BaseLayout bgColor="bg-stone-100" marginTop={false} marginBottom={false} contactBg={true}>
	<Padding>
		<Section>
			<Container>
				<HeadingBase>
					<h1 class="text-white">With decades of experience, we've built and restored thousands of vehicles.</h1>
				</HeadingBase>
			</Container>
		</Section>
	</Padding>

	<div class="grid lg:grid-cols-3 lg:grid-rows-2 min-h-[500px] h-[60vh] gap-10 px-6 pb-6">
		<Image src={ceo} pictureClass="row-span-2" class="w-full h-full object-cover" sizes="100vw" />
		{images.map((i) => <Image src={i.url} class:list={["w-full h-full object-cover", i.position]} sizes="100vw" />)}
	</div>

	<Padding paddingTop="large" paddingBottom="large">
		<Container>
			<div>
				<div class="grid grid-cols-2 gap-8">
					<h3>Originally, our focus was on Ford retractables, and our team has won numerous awards for excellence in this area.</h3>

					<div class="space-y-8">
						<LargeHeading classes="text-stone-800"> In 2020, we decided to channel our skills and passion into restoring Vintage Broncos, giving these classics the attention they deserve. </LargeHeading>

						<LargeHeading classes="text-stone-800"> Every restoration is a labor of love, and our reputation for quality has followed us into this new chapter of our business. </LargeHeading>
					</div>
				</div>
			</div>

			<div class="mt-32 space-y-12">
				<HorizontalRule />

				<div class="grid grid-cols-4 gap-12">
					{
						team.map((t) => (
							<LargeFeature>
								<div slot="heading">{t.title}</div>
								<div slot="description">{t.content}</div>
							</LargeFeature>
						))
					}
				</div>

				<HorizontalRule />
			</div>
		</Container>
	</Padding>
</BaseLayout>
